# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea
/LightTest/
/slides/bkp.txt
/slides/dispense aggiornate 7_03_2022.pdf
/slides/Lab_1_mycar_project_14_03_2022.pdf
/CGCarProject/common/models/laurana500.json
/slides/Lez 01_introduction_14_2_22.pdf
/slides/Lez 02_colors and images_17_02_22.pdf
/slides/Lez 03_rendering paradigms_21_02_2022.pdf
/slides/Lez 03_the first steps_21_02_2022.pdf
/slides/Lez_05_06  Geometric_Transformations_28_02_2022_03_03_2022.pdf
/slides/Lez_07_08  how a 3d model is represented_07_03_2022_10_03_2022.pdf
/slides/Lez_09 turning vertices into pixels 09_14_03_2022.pdf
/slides/Lez_10_Lighiting_17_03_2022.pdf
/slides/Lez_11_12_advanced illumination models and shading 20_03_2022.pdf
